In [1]:
import pandas as pd
from collections import Counter

In [2]:
corpus = pd.read_csv("corpus.csv", header=None)
corpus.rename(columns={0: "Portugues", 1: "Glossa"}, inplace=True)
corpus

,Portugues,Glossa
0,Você deveria fazer desse jeito.,VOCÊ DEVER_OBRIGAÇÃO FAZER IGUAL [PONTO]
1,Coloque mais sal na sopa.,COLOCAR MAIS_SOMAR SAL SOPA [PONTO]
2,"Apesar do apoio Real, e devido à instabilidade...",APOIAR REAL_REALEZA INSTABILIDADE GOVERNATIVA ...
3,É ele o Tom?,ELE TOM [INTERROGAÇÃO]
4,Amo-te.,EU_TE_AMO [PONTO]
...,...,...
67868,"Inclui as localidades de Carvalhal, Carril, Ma...",INCLUIR LOCALIDADE CARVALHAL CARRIL MATAGOSA M...
67869,O teorema Dynkin π-λ diz que se P é um sistema...,TEOREMA DYNKIN PI DIZER QUE P SISTEMA PI D SIS...
67870,Uma vez que certos sistemas-π são de classes r...,PORQUE CERTO SISTEMAS PI TER CLASSE_GRUPO RELA...
67871,Giuseppe Garibaldi já foi retratado como perso...,GIUSEPPE GARIBALDI JÁ RETRATADO COMO PERSONAGE...
67872,"A Polícia Civil do Estado do Acre, é uma das p...",POLÍCIA CIVIL ESTADO_GOVERNO ACRE_ESTADO BRASI...

In [3]:
sinais_vlibras = pd.read_json("sinais.json")
sinais_vlibras.rename(columns={0: "Sinal"}, inplace=True)
sinais_vlibras = sinais_vlibras.assign(
    TemNoVLibras=True,
)
sinais_vlibras

              Sinal  TemNoVLibras
0                 %          True
1                 0          True
2      0_QUILÔMETRO          True
3                 1          True
4            1_HORA          True
...             ...           ...
17200          ZONA          True
17201           ZOO          True
17202     ZOOLÓGICO          True
17203          ZOOM          True
17204        ZURZIR          True

[17205 rows x 2 columns]

In [4]:
freq = Counter()
corpus["Glossa"].str.split().apply(freq.update)
# sinais_glossa = freq.keys()
# sinais_glossa

# freq = pd.DataFrame([freq])
# freq

freq = pd.DataFrame.from_dict(freq, orient="index").reset_index()
freq.rename(columns={"index":"Sinal", 0:"Frequencia"}, inplace=True)
freq

                 Sinal  Frequencia
0                 VOCÊ        6027
1      DEVER_OBRIGAÇÃO         536
2                FAZER        2302
3                IGUAL        1170
4              [PONTO]       59161
...                ...         ...
41127     TAINSTVENNYY           1
41128            UZNIK           1
41129             SETE           1
41130         MULHERES           1
41131       JUDICIÁRIA           1

[41132 rows x 2 columns]

In [5]:
freq = freq.merge(sinais_vlibras, on='Sinal', how='outer')
freq['TemNoVLibras'] = freq['TemNoVLibras'].fillna(False)
freq['Frequencia'] = freq['Frequencia'].fillna(0)

In [6]:
freq[freq['Sinal'] == 'EU']

    Sinal  Frequencia  TemNoVLibras
131    EU      7586.0          True

In [7]:
freq.sort_values(['TemNoVLibras', 'Frequencia'], ascending=[True, False]).head(50)

                    Sinal  Frequencia  TemNoVLibras
33                    TOM     10640.0         False
14               ANO_DATA      3428.0         False
552       MAIS_QUANTIDADE      2314.0         False
143   PODER_POSSIBILIDADE      2213.0         False
353      PRIMEIRO_ORDINAL      1169.0         False
247                PESSOA      1047.0         False
423          NOVO_RECENTE       772.0         False
1610                MARIA       671.0         False
216                  MARY       631.0         False
339           BRASIL_PAÍS       611.0         False
1         DEVER_OBRIGAÇÃO       536.0         False
781         SOBRE_ASSUNTO       505.0         False
1041                COMER       505.0         False
511          ACHAR_PENSAR       459.0         False
1204            SÓ_APENAS       433.0         False
723         PORTUGAL_PAÍS       431.0         False
755        ESCREVER_PAPEL       419.0         False
1645        MAIOR_TAMANHO       415.0         False
716            DOM_TÍTULO       404.0         False
832       DEIXAR_PERMITIR       404.0         False
884          CRIAR_FUNDAR       364.0         False
914            TEMPO_HORA       363.0         False
243                    SE       347.0         False
784                MULHER       347.0         False
1053       ANTES_ANTERIOR       339.0         False
1851     COMPRAR_DINHEIRO       338.0         False
1191      SEGUNDO_OPINIÃO       314.0         False
1484        CHAMAR_NOMEAR       298.0         False
1070        NÃO_CONSEGUIR       297.0         False
193       AINDA_CONTINUAR       295.0         False
325           TEMPO_ÉPOCA       283.0         False
1184            FREGUESIA       277.0         False
461              CACHORRO       275.0         False
1804         FILME_CINEMA       273.0         False
158         BOSTON_CIDADE       270.0         False
82                     10       268.0         False
683           FRANÇA_PAÍS       268.0         False
718       SEGUNDO_ORDINAL       264.0         False
70     APRESENTAR_MOSTRAR       254.0         False
496          BANDA_MÚSICA       251.0         False
1064         CENTRO_LOCAL       251.0         False
714        ESTADO_GOVERNO       249.0         False
758                 PEDIR       249.0         False
1456            1S_DAR_2S       249.0         False
1536        ALTO_ESTATURA       249.0         False
322           TERRA_LOCAL       244.0         False
733                 MORTE       242.0         False
468           DIREITO_LEI       240.0         False
1758                   30       238.0         False
887       RELAÇÃO_VÍNCULO       236.0         False